@media screen and (min-device-width: 1000px){
html {
	background-color: #2B2B2B;


  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/

}
* {
	color: white;
}
.rachel{
	padding:10px;
	color: #DE1B1B;
	border-radius:5px;
	background-color: #F6F6F6;
}
.tableR{
	padding:10px;
	color: #DE1B1B;
	border-radius:5px;
	background-color: #F6F6F6;
}
.button_hold{
	margin-bottom: 10px;
}

#hikeshow{
	text-align: center;
}
#hikeshow h4{
	text-align: center;
	color:black;
}
#hikeshowtwo{
	text-align: center;
}
#hikeshowtwo h4{
	text-align: center;
	color:black;
}
.heading {
	text-align: center;
	border-bottom: 3px solid #DE1B1B;

}
.button_hold{
	text-align: center;
}
ul li{


	display: inline-block;
	list-style: none;

}

.subheading {
	font-size: 124%;
	padding-top:2%;
	text-align: center !important;
	margin-left: 20%;
	margin-right: 20%;
	padding-bottom: 2%;

}
.subheading p{
	text-align: center !important;
}
ul {
	display: inline-block;
	width: auto !important;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}


.main{
	width:auto !important;
	margin-bottom: 3%;
	display: inline-block;
	margin-left: 12%;
	margin-right: 12%;
	background-color: #F6F6F6;
	border: 1px solid #DE1B1B;
}
.main2{
	width:auto !important;
	margin-bottom: 3%;
	display: inline-block;
	margin-left: 12%;
	margin-right: 12%;
	background-color: #F6F6F6;
	border: 1px solid #DE1B1B;
}

.imgv{
	display: inline-block;
	border-radius: 5px;
	margin:15px;
	width: 200px !important;
	height: 200px !important;
	box-shadow: 5px 5px 5px #888888;
}
.imgv1{
	display: inline-block;
	background-image: url("/images/imag0058.jpg");
	margin:15px;
	width: 200px !important;
	height: 200px !important;
	box-shadow: 5px 5px 5px #888888;
}
.prim {
	background-color: #DE1B1B;
	border-radius: 5px;
	display: inline-block;
	list-style: none;
	margin: 1%;
}


* {
    margin: 0;
    padding: 0;
}
div#blurfocus {
  background:rgba(0,0,0,0.6);
  width:100%;
  min-height: 1400px;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

#blurfocus img {
 margin-top: 20%; 
width:70%;
height: 100%;
max-height:1800px;
padding-bottom:10%;
border-radius: 5px;
}


*,
:before,
:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}



/* Clip text element */
.clip-text {
    font-size: 6em;
    font-weight: bold;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin: .25em;
    padding: .5em .75em;
    text-align: center;
    /* Color fallback */
    color: #fff;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}

/* Background */
.clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}

/* Text Background (black zone) */
.clip-text:after {
    position: absolute;
    z-index: -1;
    top: .125em;
    right: .125em;
    bottom: .125em;
    left: .125em;
    background-color: #2B2B2B;
}

/* Change the background position to display letter when the black zone isn't here */
.clip-text--no-textzone:before {
    background-position: -.65em 0;
}

.clip-text--no-textzone:after {
    content: none;
}

/* Use Background-size cover for photo background and no-repeat background */
.clip-text--cover,
.clip-text--cover:before {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
}


.clip-text_twelve {
    background-image: url("../images/header2.jpg");
}
}

@media screen and (min-device-width:501px) and (max-device-width:768px){
.content{
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	padding-bottom: 20%;
	width:768px;
	height:100%;
}
html {
	text-align: center !important;
	margin: 0px !important;
	width:768px;
	height:100%;
	background-color: #2B2B2B;

	


  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

* {
	color: white;
}
body{
	width: inherit;
}
.rachel{
	padding:10px;
	color: #DE1B1B;
	border-radius:5px;
	background-color: #F6F6F6;
}
.tableR{
	padding:10px;
	color: #DE1B1B;
	border-radius:5px;
	background-color: #F6F6F6;
}
.button_hold{
	margin-bottom: 10px;
}

#hikeshow{
	text-align: center;
}
#hikeshow h4{
	text-align: center;
	color:black;
}
#hikeshowtwo{
	text-align: center;
}
#hikeshowtwo h4{
	text-align: center;
	color:black;
}
.heading {
	width:auto !important;
	text-align: center;
	border-bottom: 3px solid #DE1B1B;

}
.button_hold{
	text-align: center;
}
ul li{


	display: inline-block;
	list-style: none;

}

.subheading {
	font-size: 124%;
	padding-top:2%;
	text-align: center !important;
	margin-left: 20%;
	margin-right: 20%;
	padding-bottom: 2%;

}
.subheading p{
	text-align: center !important;
}
ul {
	display: inline-block;
	width: auto !important;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}


.main{
	width:auto !important;
	margin-bottom: 3%;
	display: inline-block;

	background-color: #F6F6F6;
	border: 1px solid #DE1B1B;
}
.main2{
	width:auto !important;
	margin-bottom: 3%;
	display: inline-block;

	background-color: #F6F6F6;
	border: 1px solid #DE1B1B;
}

.imgv{
	display: inline-block;
	border-radius: 5px;
	margin:15px;
	width: 100px;
	height: 100px;
	box-shadow: 5px 5px 5px #888888;
}
.imgv1{
	display: inline-block;
	background-image: url("/images/imag0058.jpg");
	margin:15px;
	width: 200px;
	height: 200px;
	box-shadow: 5px 5px 5px #888888;
}
.prim {
	background-color: #DE1B1B;
	border-radius: 5px;
	display: inline-block;
	list-style: none;
	margin: 1%;
}


* {
    margin: 0;
    padding: 0;
}
div#blurfocus {
  background:rgba(0,0,0,0.6);
  width:inherit;
  min-height: 100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

#blurfocus img {
 margin-top: 20%; 
width:90%;
height: 80%;
max-height:1500px;
padding-bottom:inherit;
border-radius: 5px;
}


*,
:before,
:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}



/* Clip text element */
.clip-text {
    font-size: 6em;
    font-weight: bold;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin: .25em;
    padding: .5em .75em;
    text-align: center;
    /* Color fallback */
    color: #fff;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}

/* Background */
.clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}

/* Text Background (black zone) */
.clip-text:after {
    position: absolute;
    z-index: -1;
    top: .125em;
    right: .125em;
    bottom: .125em;
    left: .125em;
    background-color: #2B2B2B;
}

/* Change the background position to display letter when the black zone isn't here */
.clip-text--no-textzone:before {
    background-position: -.65em 0;
}

.clip-text--no-textzone:after {
    content: none;
}

/* Use Background-size cover for photo background and no-repeat background */
.clip-text--cover,
.clip-text--cover:before {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
}


.clip-text_twelve {
    background-image: url("../images/header2.jpg");
}
}

@media screen and (max-device-width:500px){
	.content{
	text-align: center;
	padding-bottom: 20%;
	width:375px !important;
	height:100%;
}
html {
	text-align: center;
	width:375px !important;
	height:auto;
	background-color: #2B2B2B;


  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/

}
body{
	width:375px;
}
* {
	color: white;
}
.rachel{
	padding:10px;
	color: #DE1B1B;
	border-radius:5px;
	background-color: #F6F6F6;
}
.tableR{
	padding:10px;
	color: #DE1B1B;
	border-radius:5px;
	background-color: #F6F6F6;
}
.button_hold{
	margin-bottom: 10px;
}

#hikeshow{
	text-align: center;
}
#hikeshow h4{
	text-align: center;
	color:black;
}
#hikeshowtwo{
	text-align: center;
}
#hikeshowtwo h4{
	text-align: center;
	color:black;
}
.heading {
	width:inherit !important;
	text-align: center;
	border-bottom: 3px solid #DE1B1B;

}
.heading h1{
	width:inherit !important;
	}
.button_hold{
	text-align: center;
}
ul li{
	
	display: inline-block;
	list-style: none;

}

.subheading {
	font-size: 124%;
	padding-top:2%;
	text-align: center !important;
	margin-left: 20%;
	margin-right: 20%;
	padding-bottom: 2%;

}
.subheading p{
	text-align: center !important;
}
ul {
	display: inline-block;
	width: auto !important;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}


.main{
	width:auto !important;
	margin-bottom: 3%;
	display: inline-block;

	background-color: #F6F6F6;
	border: 1px solid #DE1B1B;
}
.main2{
	width:auto !important;
	margin-bottom: 3%;
	display: inline-block;

	background-color: #F6F6F6;
	border: 1px solid #DE1B1B;
}

.imgv{
	display: inline-block;
	border-radius: 5px;
	margin:15px;
	width: 200px;
	height: 200px;
	box-shadow: 5px 5px 5px #888888;
}
.imgv1{
	display: block;
	background-image: url("/images/imag0058.jpg");
	margin:15px;
	width:100%;
	height: 100px;
	box-shadow: 5px 5px 5px #888888;
}
.prim {
	background-color: #DE1B1B;
	border-radius: 5px;
	display: inline-block;
	list-style: none;
	margin: 1%;
}


* {
    margin: 0;
    padding: 0;
}
div#blurfocus {
  background:rgba(0,0,0,0.6);
  width:inherit;
  min-height: 1189px;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

#blurfocus img {
 margin-top: 20%; 
width:inherit;
height: 80%;
max-height:1500px;
padding-bottom:inherit;
border-radius: 5px;
}


*,
:before,
:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}



/* Clip text element */
.clip-text {
    /*font-size: 6em;*/
    font-weight: bold;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin: .25em;
    padding: .5em .75em;
    text-align: center;
    /* Color fallback */
    color: #fff;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}

/* Background */
.clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}

/* Text Background (black zone) */
.clip-text:after {
	width:inherit !important;
    position: absolute;
    z-index: -1;
    top: .125em;
    right: .125em;
    bottom: .125em;
    left: .125em;
    background-color: #2B2B2B;
}

/* Change the background position to display letter when the black zone isn't here */
.clip-text--no-textzone:before {
    background-position: -.65em 0;
}

.clip-text--no-textzone:after {
    content: none;
}

/* Use Background-size cover for photo background and no-repeat background */
.clip-text--cover,
.clip-text--cover:before {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
}


.clip-text_twelve {
    background-image: url("../images/header2.jpg");
    width:90% !important;
}
}
